  .mess-card {
        width: 340px;
        background: linear-gradient(135deg, #161616, #1a1a1a);
        border-radius: 20px;
        padding: 25px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
        text-align: center;
        transition: transform 0.3s;
    }

    .mess-card:hover {
        transform: scale(1.05);
    }

    .mess-name {
        font-size: 26px;
        font-weight: bold;
        color: #ff9d00;
        margin-bottom: 15px;
    }

    .info {
        background: #313131b3;
        border-radius: 12px;
        padding: 12px;
        margin: 10px 0;
        font-size: 16px;
        color: #ffffff;
    }

    .highlight {
        background: linear-gradient(135deg, #ff5900, #ff6600);
        color: white;
        /* font-weight: bold; */
    }
.visit-btn {
        margin-top: 20px;
        padding: 12px 25px;
        background: linear-gradient(135deg, #ff5900, #f60);
        color: white;
        border: none;
        border-radius: 30px;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;
    }